<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="text" id="mailaddr" value="请输入邮箱"/>
<input type="text" id="maipwd" value="邮箱密码"/>

<select id="single">
    <option>select one</option>
    <option>select two</option>
</select>

<select id="multiply" multiple="multiple" style="height: 120px">
    <option selected="selected">select one</option>
    <option>select two</option>
    <option>select three</option>
    <option>select four</option>
</select>

<script type="text/javascript" src="/libjs/jquery-2.2.1.js"></script>

<script>
    $(document).ready(function(){
        $("#mailaddr").focus(function (){
            $(this).val("");
        })
    });
</script>
</body>
</html>